fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.8.2
python-multipart==0.0.9
pandas
numpy
scikit-learn
joblib
tensorflow
python-dotenv
langchain-chroma
langchain-community
langchain-openai
chromadb
sentence-transformers
torch
tf-keras
